<!-- <label for="file">File:</label>
<input type="file" (change)="upload($event)" accept=".png,.jpg" /> -->

<input type="file" (change)="uploadFile($event)" />
<div>{{ uploadPercent | async }}</div>
<a [href]="downloadURL | async">{{ downloadURL | async }}</a>
